.header {
    background-image: linear-gradient(0deg, #d8d8d8, #a1a1a1);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__name{
    font-size: 16px;
    padding: 5px;
    width: 90px;
}

.header__logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__logo img {
    width: 50px;
    height: 50px;
    transform: scale(.85);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__sign-out{
    width: 90px;
    text-align: end;
}

.header__sign-out img {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}