.button {
    background-image: linear-gradient(0deg, #949494, #ececec);
    padding: 15px;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    display: block;
}

.btn__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}