.form__wrap {
    background-color: rgba(0, 0, 0, .45);
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #000;
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    box-shadow: 0 0 30px #2e2e2e;
    background-color: #fff;
    border-radius: 12px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.form__result {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: red;
}

.form h3 {
    color: blue;
    margin: 5px;
}

.form p {
    margin: 5px;
}

.form__input {
    margin: 5px;
    background-color: #fff;
    box-shadow: inset 0 0 4px 0.3px silver;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 300px;
    max-width: 100%;
}

.form__buttons {
    width: 100%;
    border-top: 1px solid silver;
    display: flex;
}

.form__btn {
    padding: 10px 5px;
    width: 100%;
    border: 0;
    border-right: 1px solid silver;
    background: 0;
    transition: all .5s;
    text-decoration: none;
    color: #000;
    border-bottom: none;
}

.form__google-sing-in {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px;
    border-radius: 3px;
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.form__google-sing-in img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.form__or{
    text-align: center;
    color: #000;
    opacity: 0.7;
    font-size: 16px;
}

.form__btn:hover {
    background-color: #dfdfdf;
}

.form__singIn-btn {
    border-bottom-left-radius: 12px;
}

.form__add-btn {
    border-bottom-left-radius: 12px;
}

.form__close-btn {
    color: red;
    border-bottom-right-radius: 12px;
}